/* Reset some default styles */
body,
h1,
p,
button {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    /* Light background color */
}

.popup-container {
    width: 300px;
    text-align: center;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    /* Dark text color */
}

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input[type="checkbox"]:checked+.slider {
    background-color: #4CAF50;
}

input[type="checkbox"]:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.toggle-label {
    margin-left: 10px;
    font-size: 16px;
    color: #666;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}